*{
    margin: 0;
}
header{
    overflow:hidden;
}
.logo{
    width:20%;
    height: 100px;
    background-color: tomato;
    color: black;
    text-align: center;
    float: left;
}
.menu{
    width: 80%;
    height: 100px;
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
    float: right;
}
.bar{
    background-color: darkslategrey;
    color: white;
    height: 70px;
    text-align: center;
}
.content{
    overflow: hidden;
}
.left_content{
    width: 20%;
    height: 400px;
    background-color: crimson;
    float: left;     
}
.middle_content{
    width: 60%;
    height: 400px;
    background-color: yellow;
    float: left;
}
.right_content{
    width: 20%;
    height: 400px;
    background-color:blue;
    float: left;
}
.top{
    height: 30%;
    background-color:whitesmoke;
}
.center{
    height: 40%;
    background-color:aquamarine;
    overflow: hidden;

}
.bottom{
    height: 30%;
    background-color:azure;
}
.center_left{
    height: 100%;
    width: 50%;
    background-color:darkgray;
    float: left;

}
.center_right{
    height: 100%;
    width: 50%;
    background-color:slategrey;
    float: right;

}
footer{
    background-color:black;
    height: 60px;
    color: bisque;
    text-align: center;
}

